/* Asgard edX custom css */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);

body {
  font: 16px/1.3 "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  }


h1 {
  font-size: 28px;
  line-height: 1.5em;
  margin: 10px 0;
  }

h2 {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: bold;
  margin: 0 0 7px 0;
  }

h3 {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: bold;
  margin: 0 0 5px 0;
  }

h4 {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: bold;
  margin: 0 0 5px 0;
  }

h5 {
  font-size: 13px;
  line-height: 1.5em;
  font-weight: bold;
  margin: 0 0 3px 0;
  }

h6 {
  font-size: 12px;
  line-height: 1.5em;
  font-weight: bold;
  margin: 0 0 3px 0;
  }

p {
  font-size: 12px;
  line-height: 1.5em;
  margin: 0 0 7px 0;
  }

ul {
  margin: 10px 5px;
  }

ol {
  margin: 10px 0;
  list-style-type: decimal;
  }

/* titlebar */

.titlebar,
.prod .titlebar {
  float: none;
  overflow: hidden;
  background-color: #ddd;
  height: auto;
  padding: 10px;
  color: #9a9a9a;
}

.prod .titlebar .search,
.prod .titlebar .ticket,
.prod .titlebar .region {
  background: transparent;
}

.prod .titlebar .mainHeader {
  background: transparent url('edx-logo-gray.png') center no-repeat;
}

.header {
  margin-right: 40px;
}

.authentication {
  padding: 0;
  font-size: 14px;
}

.authentication ul,
.authentication:hover ul {
  display: inline-block;
  position: relative;
  margin: 5px 20px;
  padding: 0;
}


/* nav */

.nav {
  float: none;
  background-image: none;
  border: 0;
  margin: 0;
}

.nav ul {
	margin: 0;
}

.nav li {
  padding: 0 15px;
  height: auto;
  font-size: 12px;
  border: 1px solid #ddd;

}



/* content */

.body {
  float: none;
  overflow: hidden;
}

span.toggle {
  background: url('icomoon/blue/arrow-down.svg') no-repeat scroll 0 center transparent;
}

.body .create span.toggle {
  font-weight: normal;
  font-size: 12px;
}

.hideAdvancedItems span.toggle {
  background: url('icomoon/blue/arrow-right2.svg') no-repeat scroll 0 center transparent;
}



/* tables */
table {
  border: 0;
  border-top: 1px solid #ddd;
}

th,
td,
.body footer {
  background-image: none;
  border-collapse: collapse;
  border-right: 1px solid #ddd;
  margin: 0;
  padding: 10px 5px;
}

footer {
  background-color: #eee;
}

.list {
    float: none;
}

label[for=imageId] {
  font-weight: bold;
  color: #126F9A;
}


/* buttons */

div.buttons,
th.buttons {
  background-image: none;
  padding: 10px;
}

.buttons a,
.buttons button, 
.buttons .pushRolling,
.buttons .pushReplace {
  transition: color 0.25s ease-in-out 0s, background 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
  box-shadow: 0 2px 1px 0 #0A4A67;
  margin: 5px;
  border-radius: 3px;
  background: none repeat scroll 0 0 #126F9A;
  padding: 6px;
  color: #FFFFFF;
}

.buttons .pushRolling,
.buttons .pushReplace {
	padding: 12px;
}

.buttons a,
.buttons button div {
  border: 0;
  background-color: transparent;
  color: inherit;
  font-size: 14px;
}

.buttons button div:hover,
.buttons button:hover div {
  background-color: transparent !important;
  color: inherit;
  }

.buttons a:hover,
.buttons button:hover {
  background-color: #1790C7 !important;
  color: #FFFFFF;
}


.buttons button.create div {
  background: none;
  padding: 0;
}

.buttons a.create,
.buttons button.create {
  margin: 5px;
  border: 0;
  background: url('icomoon/plus.svg') no-repeat scroll 10px #006C00;
  box-shadow: 0 2px 1px 0 #005100;
  color: #FFFFFF;
  padding: 10px 10px 10px 35px;
  font-size: 14px;
}

.buttons a.create:hover,
.buttons button.create:hover {
  background-color: #60BC61 !important;
  color: #FFFFFF;
}


button.resize {
  background-image: url('icomoon/blue/expand.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: transparent;
  box-shadow: none;
  color: #126F9A;
}

button.resize:hover {
  background-image: url('icomoon/expand.svg');
}

button.resize div,
a.resize {
  background: none;
  padding: 6px 6px 6px 25px;
}




.buttons button.delete div {
  background: none;
  padding: 6px 6px 6px 25px;
}

.buttons button.delete {
  background-image: url('icomoon/close.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: #CD1A19;
  box-shadow: 0 2px 1px 0 #ddd;
}

.buttons button.delete:hover {
  background-color: #da5959 !important;
  box-shadow: 0 2px 1px 0 #da5959;
}

.buttons a.edit,
.buttons button.edit div {
  background: none;
  padding: 12px 12px 12px 35px;
}

.buttons a.edit,
.buttons button.edit {
  background-image: url('icomoon/pencil.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: #126F9A;
  box-shadow: 0 2px 1px 0 #ddd;
  color: #FFFFFF;
}

.buttons a.edit:hover,
.buttons button.edit:hover {
  background-color: #1790C7 !important;
  color: #FFFFFF;
}



.buttons button.trafficEnable div,
.buttons button.trafficDisable div {
  background: none;
  color: #FFFFFF;
  padding: 6px;
}

.buttons button.trafficEnable {
  background-color: #0B6E0C;
  box-shadow: 0 2px 1px 0 #005100;
}

.buttons button.trafficEnable:hover {
  background-color: #60BC61 !important;
  box-shadow: 0 2px 1px 0 #60BC61;
}

.buttons button.trafficDisable {
  background-color: #AC9515;
  box-shadow: 0 2px 1px 0 #ddd;
}

.buttons button.trafficDisable:hover {
  background-color: #c3b356 !important;
  box-shadow: 0 2px 1px 0 #c3b356;
}

.buttons button.stop div {
  background: none;
  padding: 6px 6px 6px 25px;
}
.buttons button.stop {
  background-image: url('icomoon/close.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: #CD1A19;
  box-shadow: 0 2px 1px 0 #ddd;
}

.buttons button.stop:hover {
  background-color: #da5959 !important;
  box-shadow: 0 2px 1px 0 #da5959;
}


.buttons button.clean div {
  background: none;
  padding: 6px 6px 6px 25px;
}

.buttons button.clean {
  background-image: url('icomoon/close.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: #006C00;
  box-shadow: 0 2px 1px 0 #ddd;
}

.buttons button.clean:hover {
  background-color: #60BC61 !important;
  box-shadow: 0 2px 1px 0 #60BC61;
}

/* ICONS FOR STANDARD TEXT LINKS, overriding a subset of those defined in main.css
   to disable the icons, which were largely simply repeated in any given column
   and thus provide no additional information.

a.cluster {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}

a.image {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.autoScaling {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.instance {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.loadBalancer {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.stack {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.user {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.application {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.hostedZone {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.volume {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.snapshot {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.launchConfiguration {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.scalingPolicy {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.scheduledAction {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
a.alarm {
  padding:  2px 2px  2px 26px;
  background: none;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
*/

a.prod {
  padding: 10px 5px 10px 26px;
  background: url(icomoon/rocket.svg) transparent no-repeat 7px 10px;
  line-height: 16px; 
  min-height: 16px;
}
a.test {
  padding: 10px 5px 10px 26px;
  background: url(icomoon/lab.svg) transparent no-repeat 7px 10px;
  line-height: 16px;
  min-height: 16px;
}
h2.prod {
  padding: 8px 8px 8px 35px;
  background: url(icomoon/rocket.svg) transparent no-repeat 5px 1px;
  background-size: 25px, 25px;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}
h2.test {
  padding: 8px 8px 8px 35px;
  background: url(icomoon/lab.svg) transparent no-repeat 5px 1px;
  background-size: 25px, 25px;
  display: inline-block;
  line-height: 16px;
  min-height: 16px;
}

.list th { 
  vertical-align: top; 
  line-height: 19px; 
  background-color: #ddd;
}

.list th:hover, .list tr:hover {
background: #9a9a9a;
}

div.filter input {
  background-color: #ddd;
}

div.filter input:focus {
  background-color: #ddd;
}

.suspendProcess {
  background:  url(icomoon/pause.svg) 8px 50% no-repeat;
  margin: 0    0 5px 0;
  padding: 5px 5px 5px 30px;
}

.runProcess {
  background:  url(icomoon/play.svg) 8px 50% no-repeat;
  margin: 0    0 5px 0;
  padding: 5px 5px 5px 30px;
}